__pycache__/
*.pyc
*.pyo
*.db-journal
venv/
.venv/
.env
.vs/
.vscode/
.idea/
*.accdb
*.msi
*.exe
*.zip
flutter/
build/
coverage/
cmdline-tools/
platform-tools/
logs/*.log
.dart_tool/
OMRGBMK-NP/
DEsktop/
Cloudflare_*.msi
cloudflared-*.msi
WhatsApp*.exe
idea-*.exe
cert.pem
config.yml
